ExecAgent.sources = Exec
ExecAgent.sinks = LoggerSink
ExecAgent.channels = MemChannel

ExecAgent.sources.Exec.type = exec
ExecAgent.sources.Exec.command = cat /home/cloudera/sabado/dato.txt

ExecAgent.sinks.LoggerSink.type = logger

ExecAgent.channels.MemChannel.type = memory
ExecAgent.channels.MemChannel.capacity = 1000
ExecAgent.channels.MemChannel.transactionCapacity = 200

ExecAgent.sources.Exec.channels = MemChannel
ExecAgent.sinks.LoggerSink.channel = MemChannel

# Ejecutar como:
# flume-ng agent -n ExecAgent -f ejemplo1.config
#
# Nota: se necesita tener el archivo /home/cloudera/sabado/dato.txt
