NetCatAgent.sources = Netcat
NetCatAgent.sinks = HdfsSink
NetCatAgent.channels = FileChannel

NetCatAgent.sources.Netcat.type = netcat
NetCatAgent.sources.Netcat.bind = localhost
NetCatAgent.sources.Netcat.port = 56525

NetCatAgent.sinks.HdfsSink.type = hdfs
NetCatAgent.sinks.HdfsSink.hdfs.path = /user/cloudera/ej3
NetCatAgent.sinks.HdfsSink.hdfs.fileSuffix = .log
NetCatAgent.sinks.HdfsSink.hdfs.writeFormat = Text

NetCatAgent.channels.FileChannel.type = file
NetCatAgent.channels.FileChannel.dataDirs = /home/cloudera/NetCatAgent/data
NetCatAgent.channels.FileChannel.checkpointDir = /home/cloudera/NetCatAgent/checkpoint

NetCatAgent.sources.Netcat.channels = FileChannel
NetCatAgent.sinks.HdfsSink.channel = FileChannel

# Ejecutar como:
# flume-ng agent -n NetCatAgent -f ejemplo3.config
# curl telnet://localhost:56525
#
# Nota: 
# * Se puede visualizar el resultado con: hdfs dfs -text /user/cloudera/ej3/arch.log
#   donde arch.log se reemplaza por el nombre creado automaticamente por Flume


