ExecAgent.sources = Exec
ExecAgent.sinks = HdfsSink
ExecAgent.channels = MemChannel

ExecAgent.sources.Exec.type = exec
ExecAgent.sources.Exec.command = cat /home/cloudera/sabado/dato.txt

ExecAgent.sinks.HdfsSink.type = hdfs
ExecAgent.sinks.HdfsSink.hdfs.path = /user/cloudera/ej2
ExecAgent.sinks.HdfsSink.hdfs.fileSuffix = .log
ExecAgent.sinks.HdfsSink.hdfs.writeFormat = Text

ExecAgent.channels.MemChannel.type = memory
ExecAgent.channels.MemChannel.capacity = 1000
ExecAgent.channels.MemChannel.transactionCapacity = 200

ExecAgent.sources.Exec.channels = MemChannel
ExecAgent.sinks.HdfsSink.channel = MemChannel

# Ejecutar como:
# flume-ng agent -n ExecAgent -f ejemplo2.config
#
# Nota: 
# * Se necesita tener el archivo /home/cloudera/sabado/dato.txt
# * Se puede visualizar el resultado con: hdfs dfs -text /user/cloudera/ej2/arch.log
#   donde arch.log se reemplaza por el nombre creado automaticamente por Flume
